.nav {
  padding-right: 40px;
  width: 100%;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: center;
    background: #262626;
    border-radius: 4px;
    padding: 10px
  }

  &__item {
    list-style: none;
    padding-left: 14px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
}

.mobile-nav {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: #080808;
  height: 50px;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
  }

 &__list {
  display: flex;
  justify-content: center;
  padding: 5px
 }

 &__item {
  list-style: none;
  padding-left: 10px;
 }

 &__link {
  color: #0c0d0c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87px;
  background: #d3d3d3;
  border-radius: 3px;
 }

 }

.active-link {
  color: #000;
}


